@page "/chat"

<PageTitle>Summarize</PageTitle>

<h1>Welcome to the summary app!</h1>
<div class="chat-messages" id="chat-messages"></div>
<form action="/weather">
    <textarea id="textAreaId" name="textAreaName" rows="4" cols="120">Enter your text to summarize . . .</textarea>
    <br>
    <input type="submit" value="Submit">
</form>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
